<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아무 말 대잔치</title>
    <script defer src="header.js"></script>
</head>
<body>
    <div id="header">
        <h2> < </h2> <!--뒤로 가는 기능-->
        <h2 id="header-title">아무 말 대잔치</h2>
        <div class="mypage-toggle-container">
        <ul>
            <li><a href="../../mypage/mypagePwdUpdate.html">회원정보수정</a></li>
            <li><a href="../../mypage/mypageUpdate.html">비밀번호수정</a></li>
            <li id="logout-item">로그아웃</li>
        </ul>
    </div>
    </div>

    <!-- 긴 선 하나 있어야 함-->
</body>
</html>