<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/header/header.css">

</head>
<body>
    <header class="main-header">
    <button id="backBtn" class="back-btn" type="button" aria-label="뒤로가기">&lt;</button>
    <h2 id="headerTitle" onclick="location.href ='/src/board/board.html'">Raffiné</h2>

    <button id="profileToggleBtn" class="profile-toggle-btn" type="button" aria-label="마이페이지 메뉴 열기">
        <img id="headerProfilePicture" src="" alt="프로필 사진">
    </button>

    <div class="mypage-toggle-container" hidden>
        <ul>
            <li><a href="/src/mypage/mypageUpdate.html">회원정보수정</a></li>
            <li><a href="/src/mypage/mypagePwdUpdate.html">비밀번호수정</a></li>
            <li id="logoutItem">로그아웃</li>
        </ul>
    </div>
</header>

</body>
</html>


